@charset "utf-8";

/* 상단 */
.header {
  position: relative;
  z-index: 999999;
  /* border-bottom: 1px solid #ebebeb; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.header .inner {
  padding-top: 30px;
  height: 160px;
}
.header-up {
}

.header-left {
  position: relative;
  /* 자식들이 모두.. absoluter 라서. */
  /*  width, height 준다 */
  width: calc(118px + 455px + 20px);
  height: 50px;

  float: left;
}

.logo {
  /* a 태그는 inline 이므로 width, height 안됨 */
  /* a 태그는 inline 이므로 maring, padding 일부 안됨 */
  /* a 태그는 inline 이므로 최소 inline-block 으로 */
  display: inline;
  display: inline-block;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 118px;
  height: 50px;
  background: url("../images/logo.svg") no-repeat center;
  background-size: contain;
}
.search {
  position: absolute;
  top: 0;
  right: 0;

  width: 455px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  overflow: hidden;
  padding: 0px 15px;
}
.search-text {
  width: calc(100% - 25px);
  height: 50px;
  border: 0;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 400;
}
.search-text::placeholder {
  color: #a2a2a2;
  font-size: 15px;
  font-weight: 700;
}
.search-bt {
  border: 0;
  width: 17px;
  height: 17px;
  background: url("../images/btn_search.svg") no-repeat center;
  cursor: pointer;
  /* 조건 : inline 또는 inline-block */
  vertical-align: -3px;
}
.search-reset {
  position: absolute;
  top: calc(50% - 8px);
  right: 50px;
  border: 0;
  font-size: 0;
  cursor: pointer;

  width: 16px;
  height: 16px;
  background: url("../images/btn_searchDelete.svg") no-repeat center;
}

.header-right {
  position: relative;
  float: right;
}
.member-list {
  margin-top: 17px;
  /* padding-top: 17px; */
  /* line-height: 50px; */
}
.member-list > li {
  position: relative;
  float: left;
  margin-right: 20px;
}
.member-list > li:last-child {
  margin-right: 0;
}

.member-list > li > a {
  font-size: 15px;
  color: #111;
  font-weight: 500;
}
.icon-arrow::after {
  display: inline-block;
  position: relative;
  content: "";
  width: 8px;
  height: 5px;
  background: url("../images/arrow_pc.svg") no-repeat center;
  vertical-align: 3px;
  margin-left: 5px;
}
.mypage-bt:hover .mypage {
  display: block;
}

.mypage {
  display: none;
  position: absolute;
  top: 25px;
  right: 0;
  background: #fff;
  padding: 20px;
  border-radius: 13px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.mypage-list {
}
.mypage-list li {
  margin: 10px 0;
}
.member-list li:first-child {
  margin-top: 0;
}
.member-list li:last-child {
  margin-bottom: 0;
}

.mypage-list li a {
  /* 글자 줄내림 없다. */
  /* inline 은 한줄로 배치 */
  white-space: nowrap;
  font-size: 14px;
}
.mypage-list li a b {
  font-weight: 500;
}

.header-down {
  position: relative;
}

.service-list {
  display: block;
  float: left;
  margin-top: 30px;
}
.service-list li {
  float: left;
  padding-right: 23px;
}
.service-list li:last-child {
  padding-right: 0;
  margin-right: 15px;
}

.service-list li a {
  font-size: 16px;
  color: #333;
  font-weight: 600;
  line-height: 30px;
}
.service-list li a img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.service-menu {
  display: block;
  float: left;
  margin-top: 30px;
}
.service-menu li {
  float: left;
}
.service-menu li a {
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  line-height: 30px;
  padding: 0 12px;
}
.service-menu li a::before {
  display: block;
  position: absolute;
  top: calc(50% - 16px / 2);
  left: 0;
  content: "";
  width: 1px;
  height: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.mb-mypage {
  position: absolute;
  right: 10px;
  top: -5px;
  display: none;
}

@media screen and (max-width: 1024px) {
  .header {
    border: none;
  }
  .header .inner {
    padding-top: 15px;
    height: 230px;
    border-bottom: 8px solid #f0f4f4;
  }
  .logo {
    margin-left: 15px;
    width: 77px;
    height: 18px;
  }
  .header-left {
    width: 100%;
  }
  .search {
    left: 50%;
    transform: translateX(-50%);
    top: 140px;
  }
  .member-list {
    display: none;
  }
  .mb-mypage {
    display: block;
  }
  .header-down {
    text-align: center;
  }
  .service-list {
    display: inline-block;
    margin-top: 0px;
    float: none;
  }

  .service-list > li {
    padding-right: 20px;
  }
  .service-list > li > a {
    font-size: 12px;
    font-weight: 400;
  }

  .service-list > li:last-child {
    margin-right: 0;
  }
  .service-list > li > a > img {
    display: block;
    margin: 0 auto;
    width: 48px;
    height: 48px;
  }
  .service-menu {
    display: none;
  }
}
