@charset "utf-8";

.promotion .inner {
  height: 345px;
}
.promotion-slide {
  position: relative;
  height: 100%;
}
.sw-promotion a {
  display: inline-block;
  border-radius: 13px;
  overflow: hidden;
}
.sw-promotion a img {
  width: 100%;
  height: auto;
}

.promotion .section-top {
  display: none;
}

.sw-promotion-control {
  position: relative;
  text-align: center;
  display: none;
}

.sw-promotion-pg {
  display: inline-block;
}

@media screen and (max-width: 1280px) {
  .promotion .inner {
    height: 275px;
    border-bottom: 8px solid #f0f4f4;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .sw-promotion-control {
    display: block;
  }
  .promotion .inner {
    height: 300px;
  }
  .promotion .section-top {
    display: block;
  }

  .promotion .sw-bt {
    display: none;
  }
  /* swiper.js에서 지동으로 css 생성 */
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 0.2;
    background: #000;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #000;
  }
}

@media screen and (max-width: 760px) {
  .sw-promotion-control {
    z-index: 100;
    margin-top: -25px;
  }
  .promotion .inner {
    height: 290px;
  }
  .sw-promotion {
    /* 화면 너비에 비례해 줄어든다 */
    /* 그러나 일정 너비 이하는 줄어들지 않아야한다 */

    width: 50%;
    min-width: 350px;
  }
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    opacity: 0.3;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: width 0.5s;
  }
  .swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
    opacity: 1;
    background: #fff;
  }
}
