@charset "utf-8";

/* 공통 스타일 */

/* //공통 스타일 */

.promotion_slide {
  position: relative;
  height: 100%;
}


.sw-promotion a {
  overflow: hidden;
  border-radius: 13px;
}

.sw-promotion a img {
  border-radius: 13px;
  width: 100%;
  height: auto;
}
