@charset "utf-8";

.quick-menu {
  display: none;
  z-index: 9999;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #fff;
}

.quick-menu .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 760px;
  height: 100%;
  padding: 0px 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.quick-menu > .inner > a:nth-child(3) {
  margin-top: -7px;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .quick-menu {
    display: block;
  }
}

@media screen and (max-width: 760px) {
}
